# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.ipr
*.iws
.idea/*
!.idea/runConfigurations
!.idea/modules.xml

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.fvm/flutter_sdk

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# environment files
.env.local

# any golden_toolkit failures
failures/

# any screenshots taken within test
screenshots/

# coverage
/coverage/

# fastlane
/fastlane/report.xml
/fastlane/README.md
